# Web Framework i Server
fastapi==0.109.0
uvicorn==0.27.0

# Database (ORM i Driver)
sqlalchemy==2.0.25
psycopg2-binary==2.9.9

# Validacija i Emailovi
pydantic[email]==2.5.3
email-validator==2.1.0.post1

# Monitoring
prometheus-fastapi-instrumentator==6.1.0

# Data Generation
faker==22.6.0

# HTTP client
httpx==0.26.0